<p-sidebar [(visible)]="visible" (visibleChange)="updateVisible()">
  <p>
    <a
      routerLink="/home"
      routerLinkActive="font-bold"
      class="hover:text-blue-600"
      >{{ "menu.home" | translate }}</a
    >
  </p>
  <p>
    <a
      routerLink="/heroes-list"
      routerLinkActive="font-bold"
      class="hover:text-blue-600"
      >{{ "menu.heroes-list" | translate }}</a
    >
  </p>

  <ng-template pTemplate="header">MENU</ng-template>
  <ng-template pTemplate="footer">
    <div class="text-xs">
      <a
        href="https://github.com/Menencia/afk-collections/commits/master/"
        class="hover:text-blue-600"
        target="_blank"
        >{{ "menu.lastCommits" | translate }}</a
      ><br />
      {{ "menu.contributors" | translate }}: Menencia, Glaciale & Vlab
    </div>
  </ng-template>
</p-sidebar>
