<p-sidebar [(visible)]="visible" (visibleChange)="updateVisible()">
  <p>
    <a
      routerLink="/home"
      routerLinkActive="font-bold"
      class="hover:text-blue-600"
      >{{ "menu.home" | translate }}</a
    >
  </p>
  <p>
    <a
      routerLink="/ss"
      routerLinkActive="font-bold"
      aria-disabled="true"
      class="text-gray-300"
      >{{ "menu.heroes-list" | translate }}</a
    >
    <span class="italic text-xs"> ({{ "coming soon" | translate }})</span>
  </p>

  <ng-template pTemplate="header">MENU</ng-template>
  <ng-template pTemplate="footer">
    <div class="text-xs">
      Version : 1.0.0<br />
      {{ "Contributors" | translate }}: Menencia, Glaciale & Vlab
    </div>
  </ng-template>
</p-sidebar>
