<p-autoComplete
  #autoComplete
  [suggestions]="suggestions"
  [placeholder]="'Add affix' | translate"
  [dropdown]="true"
  dropdownMode="blank"
  field="name"
  (completeMethod)="search($event)"
  (onSelect)="select($event)"
>
  <ng-template let-affix pTemplate="item">
    <div class="flex items-center gap-2">
      <img
        src="/assets/affixes/{{ affix.code }}.png"
        [class]="'flag flag-' + affix.code"
        alt="affix"
        class="h-8"
      />
      <div>{{ "affix." + affix.code | translate }}</div>
    </div>
  </ng-template>
</p-autoComplete>
