<p>Results</p>

<div class="results">
  <p-card *ngFor="let result of results">
    {{ result.hero.name | titlecase }}
    <p-tag [value]="result.score + ' pts'" severity="info"></p-tag>
    <div>
      <img
        *ngFor="let offAffix of result.hero.offAffixes"
        src="/assets/affixes/{{ offAffix }}.png"
        height="32"
        alt="{{ offAffix }}"
      />
    </div>
    <div>
      <img
        *ngFor="let defAffix of result.hero.defAffixes"
        src="/assets/affixes/{{ defAffix }}.png"
        height="32"
        alt="{{ defAffix }}"
      />
    </div>
  </p-card>
</div>

<p>Affixes</p>

<div *ngFor="let affix of affixes">
  <p-chip
    label="{{ affix.name }}"
    removable="true"
    (onRemove)="removeAffix(affix)"
    image="/assets/affixes/{{ affix.name }}.png"
    alt="affix"
  ></p-chip>
</div>

<p>Add affix :</p>

<p-autoComplete
  [(ngModel)]="selectedAffix"
  [suggestions]="suggestions"
  [dropdown]="true"
  (completeMethod)="search($event)"
  (onSelect)="select($event)"
></p-autoComplete>
