<app-ui-layout-default>
  <app-select-collection
    [(collection)]="selectedCollection"
    (collectionChange)="updateHeroes()"
  ></app-select-collection>

  <p-panel [header]="'Affixes' | translate" styleClass="mb-3">
    <div class="mb-2">
      <p-chip
        *ngFor="let affix of affixes"
        label="{{ 'affix.' + affix.code | translate }}"
        removable="true"
        (onRemove)="removeAffix(affix)"
        image="/assets/affixes/{{ affix.code }}.png"
        alt="affix"
        styleClass="inline-block mr-1"
      ></p-chip>
    </div>

    <p-autoComplete
      [(ngModel)]="selectedAffix"
      [suggestions]="suggestions"
      [placeholder]="addAffixPl"
      [dropdown]="true"
      field="name"
      (completeMethod)="search($event)"
      (onSelect)="select($event)"
    >
      <ng-template let-affix pTemplate="item">
        <div class="flex items-center gap-2">
          <img
            src="/assets/affixes/{{ affix.code }}.png"
            [class]="'flag flag-' + affix.code"
            alt="affix"
            class="h-8"
          />
          <div>{{ "affix." + affix.code | translate }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </p-panel>

  <p-panel [header]="'Results' | translate" styleClass="mb-3">
    <div class="flex gap-2 flex-wrap">
      <p-card *ngFor="let result of results">
        {{ result.hero.name | titlecase }}
        <p-tag [value]="result.score + ' pts'" severity="info"></p-tag>
        <div>
          <ng-container *ngFor="let collection of result.hero.collections">
            <img
              pTooltip="{{ 'collection.' + collection.name | translate }}"
              tooltipPosition="bottom"
              src="/assets/collections/{{ collection.name }}.png"
              class="h-8 inline-block"
              alt="collection"
            />
            <p-badge value="{{ collection.level }}"></p-badge>
          </ng-container>
        </div>
        <div>
          <img
            *ngFor="let offAffix of result.hero.offAffixes"
            pTooltip="{{ 'affix.' + offAffix | translate }}"
            tooltipPosition="bottom"
            src="/assets/affixes/{{ offAffix }}.png"
            class="h-8 inline-block"
            alt="{{ offAffix }}"
          />
        </div>
        <div>
          <img
            *ngFor="let defAffix of result.hero.defAffixes"
            pTooltip="{{ 'affix.' + defAffix | translate }}"
            tooltipPosition="bottom"
            src="/assets/affixes/{{ defAffix }}.png"
            class="h-8 inline-block"
            alt="{{ defAffix }}"
          />
        </div>
      </p-card>
    </div>
  </p-panel>
</app-ui-layout-default>
